---
http_interactions:
- request:
    method: get
    uri: https://api.sellsy.com/v2/companies?limit=50&offset=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 98831d12-ba95-5054-bc19-c5986fa69b27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Quota-Remaining-By-Second:
      - '33'
      X-Quota-Remaining-By-Minute:
      - '2098'
      X-Quota-Remaining-By-Day:
      - '431997'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":89544,"name":"Universal Music France","email":null,"website":null,"phone_number":"0144419191","mobile_number":null,"fax_number":null,"capital":null,"reference":null,"note":"","accounting_code_id":null,"accounting_purchase_code_id":null,"auxiliary_code":null,"main_contact_id":4080436,"invoicing_contact_id":null,"dunning_contact_id":null,"invoicing_address_id":651198,"delivery_address_id":26669395,"rate_category_id":null,"created":"2012-07-12T16:33:13+02:00","is_archived":false,"type":"client","social":{"twitter":null,"facebook":null,"linkedin":null,"viadeo":null},"legal_france":{"siret":null,"siren":null,"vat":null,"ape_naf_code":null,"company_type":null,"rcs_immatriculation":null},"owner":{"id":8306,"type":"staff"}},{"id":89754,"name":"TRENDLAB
        SAS","email":null,"website":null,"phone_number":null,"mobile_number":null,"fax_number":null,"capital":null,"reference":null,"note":"","accounting_code_id":null,"accounting_purchase_code_id":null,"auxiliary_code":null,"main_contact_id":86255,"invoicing_contact_id":null,"dunning_contact_id":null,"invoicing_address_id":653015,"delivery_address_id":null,"rate_category_id":null,"created":"2012-07-13T13:24:23+02:00","is_archived":false,"[...]
