---
http_interactions:
- request:
    method: get
    uri: https://api.sellsy.com/v2/companies/174541
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 98831d12-ba95-5054-bc19-c5986fa69b27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Quota-Remaining-By-Second:
      - '34'
      X-Quota-Remaining-By-Minute:
      - '2096'
      X-Quota-Remaining-By-Day:
      - '431995'
    body:
      encoding: ASCII-8BIT
      string: '{"id":174541,"name":"Les Villages Clubs du Soleil","email":null,"website":null,"phone_number":null,"mobile_number":null,"fax_number":null,"capital":null,"reference":null,"note":"","accounting_code_id":2855,"accounting_purchase_code_id":null,"auxiliary_code":"DIVERS","main_contact_id":160783,"invoicing_contact_id":null,"dunning_contact_id":null,"invoicing_address_id":1046556,"delivery_address_id":null,"rate_category_id":null,"created":"2012-11-15T17:33:07+01:00","is_archived":false,"type":"client","social":{"twitter":null,"facebook":null,"linkedin":null,"viadeo":null},"legal_france":{"siret":null,"siren":null,"vat":null,"ape_naf_code":null,"company_type":null,"rcs_immatriculation":null},"owner":{"id":8306,"type":"staff"}}'
  recorded_at: Wed, 22 Sep 2021 18:28:35 GMT
recorded_with: VCR 6.0.0
