---
http_interactions:
- request:
    method: get
    uri: https://api.sellsy.com/v2/companies/f81a92eb41268abb1ab375bbe396dc49
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 98831d12-ba95-5054-bc19-c5986fa69b27
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Json-Error:
      - '{"error":{"code":404,"message":"No route found for \u0022GET \/v2\/companies\/f81a92eb41268abb1ab375bbe396dc49\u0022","details":[],"context":null}}'
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":404,"message":"No route found for \u0022GET \/v2\/companies\/f81a92eb41268abb1ab375bbe396dc49\u0022","details":[],"context":null}}'
  recorded_at: Thu, 23 Sep 2021 12:42:56 GMT
recorded_with: VCR 6.0.0
