---
http_interactions:
- request:
    method: get
    uri: https://api.sellsy.com/v2/companies/83426
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 98831d12-ba95-5054-bc19-c5986fa69b27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Quota-Remaining-By-Second:
      - '34'
      X-Quota-Remaining-By-Minute:
      - '2099'
      X-Quota-Remaining-By-Day:
      - '431988'
    body:
      encoding: ASCII-8BIT
      string: '{"id":83426,"name":"Curius","email":null,"website":null,"phone_number":null,"mobile_number":null,"fax_number":null,"capital":null,"reference":null,"note":"","accounting_code_id":null,"accounting_purchase_code_id":null,"auxiliary_code":null,"main_contact_id":81133,"invoicing_contact_id":null,"dunning_contact_id":null,"invoicing_address_id":599658,"delivery_address_id":null,"rate_category_id":null,"created":"2012-06-19T15:40:42+02:00","is_archived":false,"type":"client","social":{"twitter":null,"facebook":null,"linkedin":null,"viadeo":null},"legal_france":{"siret":null,"siren":null,"vat":null,"ape_naf_code":null,"company_type":null,"rcs_immatriculation":null},"owner":{"id":8306,"type":"staff"}}'
  recorded_at: Thu, 23 Sep 2021 12:12:22 GMT
- request:
    method: get
    uri: https://api.sellsy.com/v2/companies/83426/addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 98831d12-ba95-5054-bc19-c5986fa69b27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Quota-Remaining-By-Second:
      - '33'
      X-Quota-Remaining-By-Minute:
      - '2098'
      X-Quota-Remaining-By-Day:
      - '431987'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":599658,"name":"Bureaux","address_line_1":"1bis passage
        des Marais","address_line_2":"","address_line_3":"","address_line_4":"","postal_code":"75010","city":"Paris","country_code":"FR","country":"France","is_invoicing_address":true,"is_delivery_address":false,"geocode":{"lat":48.8712,"lng":2.361}}],"pagination":{"limit":25,"count":1,"total":1,"offset":"WyI1OTk2NTgiXQ=="}}'
  recorded_at: Thu, 23 Sep 2021 12:12:22 GMT
[...]
- request:
    method: get
    uri: https://api.sellsy.com/v2/companies/83426/addresses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 98831d12-ba95-5054-bc19-c5986fa69b27
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Quota-Remaining-By-Second:
      - '33'
      X-Quota-Remaining-By-Minute:
      - '2095'
      X-Quota-Remaining-By-Day:
      - '431984'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":599658,"name":"Bureaux","address_line_1":"1bis passage
        des Marais","address_line_2":"","address_line_3":"","address_line_4":"","postal_code":"75010","city":"Paris","country_code":"FR","country":"France","is_invoicing_address":true,"is_delivery_address":false,"geocode":{"lat":48.8712,"lng":2.361}}],"pagination":{"limit":25,"count":1,"total":1,"offset":"WyI1OTk2NTgiXQ=="}}'
  recorded_at: Thu, 23 Sep 2021 12:12:23 GMT
recorded_with: VCR 6.0.0
